/* PLANTILLA  */


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

ul,ol{

	padding: 0;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style: none;
	text-decoration: none;
}

.barraSuperior{
	background: black;
}

.barraSuperior a{
	color: white;
}

.backColor, .backColor a{
	background: #47bac1;
	color: white;
}


/*--=====================================
=            REDES SOCIALES            =
======================================-->*/

.redSocial{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

/* FACEBOOK */

.facebookBlanco{
	color: white;
}

.facebookNegro{
	color: black;
}

.facebookColor{
	color: white;
	background: #46639f;
}

/* YOUTUBE */

.youtubeBlanco{
	color: white;
}

.youtubeNegro{
	color: black;
}

.youtubeColor{
	color: white;
	background: #d6513e;
}

/* TWITTER */

.twitterColor{
	color: white;
	background: #0ab2e6;
}

.twitterNegro{
	color: black;
}


.twitterBlanco{
	color: white;
}

/* INSTAGRAM */

.instagramColor{
	color: white;
	background: linear-gradient(45deg, #fca925, #ee1d5f, #6350a2);
}

.instagramNegro{
	color: black;
}

.instagramBlanco{
	color: white;
}


/*----------  ESCRITORIO GRANDE  ----------*/
@media(min-width: 1200px){

	.col-lg-0{

		display: none;
	}

}

/*----------  ESCRITORIO MEDIANO  ----------*/

@media(max-width: 1199px) and (min-width: 992px){

	.col-md-0{

		display: none;
	}

}



/*----------  ESCRITORIO PEQUEÑO  ----------*/

@media(max-width: 991px) and (min-width:768px){

	.col-sm-0{

		display: none;
	}

}




/*----------  MOVIL  ----------*/

@media(max-width: 767px){

	.col-xs-0{

		display: none;
	}

}